@model Asp.Net.MVC.Models.Login
@{
    Layout = null;
}
<html>
<head>
</head>
<body>
    <h2>Sign in</h2>
    @ViewBag.Mesaj
    <div>
        @using (Html.BeginForm("Signin", "Login", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.UserName)
                @Html.TextAreaFor(m => m.UserName)
            </div>
            <div>
                @Html.LabelFor(m=>m.Password)
                @Html.TextAreaFor(m => m.Password)
            </div>
            <br />
            <button type="submit" class="btn btn-danger">Sign in</button>
            <button type="submit" class="btn btn-danger">@Html.ActionLink("Sing up", "Signup", "Register")</button>
        }
    </div>
</body>
</html>
